<div id="support-plans">
<h3 class="short">Planes de Soporte que se <strong>adaptan</strong> a tu empresa.</h3>
<p>Sabemos que no todas las empresas son iguales y que por lo mismo cada una tiene desafíos diferentes, nosotros también los tenemos. Es por ello que hemos diseñado los siguientes planes de soporte para adaptarnos a tu realidad.</p>

<div class="row">

	<div class="pricing-table">
		<div class="col-md-3">
			<div class="plan">
				<h3>
					Micro<br/>
					<small><strong>12 UF/mes o 120 UF/año</strong></small>
				</h3>
				<ul>
					<li><b>3 incidencias</b> mensuales</li>
					<li>Monitoreo de <b>3</b> servidores</li>
					<li><b>7 UF</b> incidencia adicional</li>
					<li>Atención <b>remota</b></li>
					<li>Horario <b>8x5</b></li>
					<li><b>1</b> usuario de soporte</li>
					<li>Valor preferencial HH proyectos</li>
					<li><a class="btn btn-lg btn-primary" href="/contactanos/index.html">contratar</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-3 center">
			<div class="plan most-popular">
				<div class="plan-ribbon-wrapper"><div class="plan-ribbon">Popular</div></div>
				<h3>
					Standard<br/>
					<small style="color: white;">22 UF/mes o 220 UF/año</small>
				</h3>
				<ul>
					<li><b>6 incidencias</b> mensuales</li>
					<li>Monitoreo de <b>7 servidores</b></li>
					<li><b>5 UF</b> incidencia adicional</li>
					<li>Atención <b>remota</b></li>
					<li>Horario <b>8x5</b></li>
					<li><b>3</b> usuarios de soporte</li>
					<li>Valor preferencial HH proyectos</li>
					<li><a class="btn btn-lg btn-primary" href="/contactanos/index.html">contratar</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-3">
			<div class="plan">
				<h3>
					Enterprise<br/>
					<small><strong>32 UF/mes o 320 UF/año</strong></small>
				</h3>
				<ul>
					<li><b>9 incidencias</b> mensuales</li>
					<li>Monitoreo de <b>15</b> servidores</li>
					<li><b>3 UF</b> incidencia adicional</li>
					<li>Atención <b>remota y presencial</b></li>
					<li>Horario <b>24x7</b></li>
					<li><b>5</b> usuarios de soporte</li>
					<li><b>1 UF HH proyectos</b></li>
					<li><a class="btn btn-lg btn-primary" href="/contactanos/index.html">contratar</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-3">
			<div class="plan">
				<h3>
					Corporation<br/>
					<small><strong>a convenir</strong></small>
				</h3>
				<ul>
					<li><b>incidencias ilimitadas</b> mensuales</li>
					<li>Monitoreo <b>ilimitado</b> de servidores</li>
					<li><b>0 UF</b> incidencia adicional</li>
					<li>Atención <b>remota y presencial</b></li>
					<li>Horario <b>24x7</b></li>
					<li><b>10</b> usuarios de soporte</li>
					<li><b>1 UF HH proyectos</b></li>
					<li><a class="btn btn-lg btn-primary" href="/contactanos/index.html">contratar</a></li>
				</ul>
			</div>
		</div>
		
	</div>

</div>
</div>