<section class="page-top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb">
					<li><a href="index.html">Inicio</a></li>
					<li class="active">Sobre Nosotros</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Quién es IT Linux</h2>
			</div>
		</div>
	</div>
</section>

<div class="container">

	<%= render "about-us/about-us_usp"%>

	<%= render "about-us/who-we-are"%>
	
	<%= render "about-us/our-history"%>
	
	<%= render "index/clientes"%>
	
</div>