<section class="page-top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb">
					<li><a href="/index.html">Inicio</a></li>
					<li class="">Educacion</li>
					<li class="active">Curso de Administración de Zimbra</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Curso de Administración de Zimbra 8</h2>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>El curso <strong>oficial</strong> del mejor producto de colaboración Open Source</h2>
	
			<p class="lead">
				El curso de Administración de Zimbra 8 consiste en 3 días de entrenamiento práctico y teórico dictado por un profesional certificado de Zimbra. Las clases enseñan a los estudiantes la mejor forma para enfrentar la administración de Zimbra Collaboration Suite y las necesidades de sus usuarios.
			</p>
		</div>
	</div>
</div>
<div class="map-section zimbra-section">
	<section class="featured">
	<div class="container">
	<div class="row">
			<div class="col-md-7">
    
				<h2 style="margin-bottom: 20px;">Qué obtengo al realizar este curso</h2>
	
				<p class="">
					Al completar este curso, los asistentes serán capaces de instalar, personalizar, resolver problemas, mantener, y administrar una implementación de Zimbra Collaboration. También serán revisados temas para mejorar el desempeño, planificación de capacidad y opciones de migración desde otras plataformas.
				</p>
				<h3>Estos son los temas que estudiaremos</h3>
				<ul class="lead zimbra-training-topics">
					<li>Arquitectura de Zimbra</li>
					<li>Instalación de Zimbra Collaboration</li>
					<li>Resolución de problemas de instalación</li>
					<li>Uso de la consola de administración</li>
					<li>Uso de las herramientas de la línea de comandos</li>
					<li>Mantención del sistema Zimbra Collaboration</li>
					<li>Respaldos y Recuperación de casillas y sistema</li>
					<li>Uso del Portal de Soporte y <i>Bugzilla</i></li>
					<li>Mejoras de Desempeño (Performance Tunning)</li>
					<li>Opciones de Migración y planificación</li>
					<li>Actualización y resolución de problemas</li>
					<li>Personalización de temas de Zimbra Collaboration</li>
					<li>Instalación de Zimbra en múltiples nodos</li>
					<li>Consideraciones de Arquitectura y Storage</li>
					<li>Integración con Directorios y GAL</li>
					<li>Monitoreo de soporte avanzado</li>
				</ul>
				
				<p style="margin-top: 40px">
					<strong>IT Linux</strong> es el único socio certificado en Chile para dictar cursos en Chile: <a href="http://www.zimbra.com/partners/zimbra_training.html" target="_blank"> Zimbra Certified Training Partners</a>.
				</p>
				<p>
					Puedes descargar el temario oficial en el siguiente enlace: <a href="http://files.zimbra.com.s3.amazonaws.com/website/docs/Zimbra-Collaboration-System-Administration-Overview.pdf">Descripción del curso Zimbra Collaboration 8</a>.
				</p>
				
			</div>
		
		
		
			<div class="col-md-offset-1 col-md-4" style="border-left: 1px solid #999; padding-left: 20px;}">
				<h2 style="margin-bottom: 20px;">Próxima Fecha</h2>
	
				<p class="lead">
					<ul>
						<li><strong>Fecha</strong>: 24 al 26 de Mayo 2014.</li>
						<li><strong>Horario</strong>: 09:30 a 17:30.</li>
						<li><strong>Lugar</strong>: IT Linux - Las Condes, STGO.</li>
						<li><strong>Precio</strong>: $649.000 - sin cobertura SENCE.</li>
						<li>Desayuno y Almuerzo: Incluídos, no queremos que pases hambre.</li>
						
					</ul>
				</p>
				<p class="lead" style="text-align: center; padding-bottom: 80px">
					Sólo 10 asistentes por curso
					<a href="/contactanos/" class="btn btn-lg btn-primary push-top" style="margin-top: 20px;">Reserva tu Cupo</a> 
			</div>
	</div>
	</section>
</div>

<section class="call-to-action featured footer" style="margin-top: -20px;">
	<div class="container">
		<div class="row">
			<div class="center">
				<h3>Somos el <strong>especialista</strong> en Open Source que <strong>buscabas</strong> <span class="arrow hlb" data-appear-animation="rotateInUpLeft" style="top: -22px;"></span></h3>
			</div>
		</div>
	</div>
</section>