<section class="page-top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb">
					<li><a href="index.html">Inicio</a></li>
					<li class="active">Soporte</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Soporte y Mantención Open Source</h2>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h2>Convertimos el 0,1% en <strong>0,001%</strong></h2>
	
			<p class="lead">
				Incluso los sistemas más estables y actualizados pueden enfrentar problemas que deben ser solucionados.
				<br/>
				<br/>
				Cuando un error imprevisto afecte tu plataforma necesitarás ayuda experta de forma inmediata. Nosotros estamos a una llamada de <span class="alternative-font">resolver</span> tu problema.
			</p>
		</div>

		<div class="col-md-2">
			<a data-anchor href="#support-plans" class="btn btn-lg btn-primary push-top" style="margin-top: 50%;">¿Cuál es tu plan?</a>
		</div>
	
	</div>
</div>
	
<section class="featured highlight footer">
	<div class="container">
		<div class="row center counters">
			<div class="col-md-3">
				<strong data-to="3000">0</strong>
				<label>Servidores felices</label>
			</div>
			<div class="col-md-3">
				<strong data-to="8">0</strong>
				<label>Años de historia</label>
			</div>
			<div class="col-md-3">
				<strong data-to="1020">0</strong>
				<label>tickets al año</label>
			</div>
			<div class="col-md-3">
				<strong data-to="27">0</strong>
				<label>min. en responder</label>
			</div>
		</div>
	</div>
</section>


<section class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(/img/parallax.jpg);">
	<div class="container">
		<div class="row center">
			<div class="col-md-12">

				<div class="row">
					<div class="owl-carousel" data-plugin-options='{"items": 1}'>
						<div>
							<blockquote>
								<p><i class="icon icon-quote-left"></i> Con el apoyo de IT Linux hemos podido responder eficazmente a la creciente demanda que han experimentado nuestras plataformas web, haciendo el mejor uso de los recursos disponibles.</p>
								<span>- Marcelo Carrillo, Gerente Sistemas <br/> Televisión Nacional de Chile</span>
							</blockquote>
						</div>
						<div>
							<blockquote>
								<p><i class="icon icon-quote-left"></i> El correo electrónico es la principal herramienta de las empresas, pero en nuestro caso también es parte fundamental del servicio que brindamos. Por ello llevamos confiando su seguridad por 4 años seguidos a IT Linux.</p>
								<span>- Roberto Meri, Jefe de TI <br/> Poder Judicial de Chile</span>
							</blockquote>
						</div>
						<div>
							<blockquote>
								<p><i class="icon icon-quote-left"></i>Operamos nuestra plataforma TI mayormente sobre Software Open Source, entregando grandes beneficios a nuestra empresa, gracias a su estabilidad y al apoyo especialista de IT Linux </p>
								<span>- Richard Cortés, Jefe de Soporte <br/> Forus S.A.</span>
							</blockquote>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>


<div class="container">	
	<%= render "support/plans"%>
	<hr class="tall">
	
	<h2>Una excelente forma de <span class="alternative-font">aprender</span></h2>
	
			<p class="lead">
				Con nuestro servicio no sólo puedes resolver rápidamente los problemas que ocurren en tu plataforma, también puedes prevenirlos y mejorar el desempeño de tu negocio, ya que tendrás acceso a nuestra base de conocimiento y también podrás hacer todas las consultas que quieras y <span class="alternative-font">aprender</span> como tú puedes actuar frente a eventos inesperados.			
				
				<br/>
			</p>
			
			<div style="text-align: center; margin-top: 50px; margin-bottom: 20px">
				<a data-anchor href="#support-plans" class="btn btn-lg btn-primary" style="">Contrata tu plan ya!!</a>
			</div>
	
	
</div>