<hr class="tall" />
<div class="row center">
	<div class="col-md-12">
		<h2 class="short word-rotator-title">
			No somos los únicos que
			<strong>
				<span class="word-rotate">
					<span class="word-rotate-items">
						<span>prefieren</span>
						<span>avalan</span>
						<span>confían en</span>
						<span>apoyan</span>
					</span>
				</span>
			</strong>
			nuestra forma de trabajar...
		</h2>
		<h4 class="lead tall">Desde el 2006 ayudamos a empresas en Chile y Latinoamérica. Conoce a nuestros clientes:</h4>
	</div>
</div>
<div class="row center">
	<div class="owl-carousel" data-plugin-options='{"items": 5, "singleItem": false, "autoPlay": true}'>
		
		<% 12.times do |number| %>
		
		<div>
			<img class="img-responsive" src="/img/clients/logo-<%= number+1 %>.png" alt="">
		</div>
		<% end %>
	</div>
</div>
</div>