<div class="feature-box">
	<div class="feature-box-icon">
		<i class="icon icon-<%= icon %>"></i>
	</div>
	<div class="feature-box-info">
		<h4 class="shorter"><%= title %></h4>
		<p class="tall"><%= description %></p>
	</div>
</div>