<div class="home-intro">
	<div class="container">

		<div class="row">
			<div class="col-md-8">
				<p>
					La forma más rápida de crecer tu negocio es con el líder en  <em>Open Source.</em>
					<span>Te apoyamos desde la Creación hasta la mantención de tu plaforma. Tu te enfocas en el negocio.</span>
				</p>
			</div>
			<!-- <div class="col-md-4">
				<div class="get-started">
					<a href="#" class="btn btn-lg btn-primary">Get Started Now!</a>
					<div class="learn-more">or <a href="index.html">learn more.</a></div>
				</div>
			</div> -->
		</div>

	</div>
</div>
