<div class="container">

	<div class="row center">
		<div class="col-md-12">
			<h2 class="short word-rotator-title">
				IT Linux te ayuda a mejorar
				<strong class="inverted" data-appear-animation="bounceIn">
					<span class="word-rotate">
						<span class="word-rotate-items">
							<span>el rendimiento</span>
							<span>el presupuesto</span>
							<span>la seguridad</span>
						</span>
					</span>
				</strong>
				 de tu Empresa.</h2>
			<p class="featured lead">
				La flexibilidad del software Open Source y Linux permiten generar rápidamente soluciones seguras a una fracción del costo de productos cerrados y con un mejor desempeño.
			</p>
		</div>
	</div>

	<hr class="tall" />
</div>