<div>
	<div class="portfolio-item img-thumbnail">
		<a class="thumb-info lightbox" href="#popupProject3" data-plugin-options='{"type":"inline", preloader: false}'>
			<img alt="" class="img-responsive" src="/img/projects/project-3.png">
			<span class="thumb-info-title">
				<span class="thumb-info-inner">Soporte Open Source</span>
				<span class="thumb-info-type">FORUS</span>
			</span>
			<span class="thumb-info-action">
				<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
			</span>
		</a>
	</div>
</div>

<div id="popupProject3" class="popup-inline-content">
	<h2>Soporte y Mantención 24x7</h2>

	<div class="row">
		<div class="col-md-6">

			<img class="img-thumbnail img-responsive" alt="" src="/img/projects/project-3.png">

		</div>

		<div class="col-md-6">

			<h4>Introducción</h4>
			<p>
				Como casi toda empresa exitosa en la actualidad, las operaciones de <a href="http://www.forus.cl/">Forus S.A.</a> están apoyadas por tecnología de punta, la cual en su mayoría funciona sobre sistemas operativos Linux y software Open Source, y por las personas responsables de operar esta plataforma.
			</p>
			<p>
				Una de las claves del éxito de Forus fue comprender tempranamente que el valor entregado por la personas que trabajan en su departamento de TI tiene directa relación con los objetivos del negocio y no con el tiempo gastado buscar respuestas a problemas, razón por la cual cuenta con nuestro <a href="/soporte.html"><strong>Servicio de Soporte</strong></a> <strong>hace más de 5 años</strong>.
			</p>

			<h4 class="push-top">Resultados</h4>
			<p>
				Luego de más de 5 años de trabajar juntos, podemos decir que ambas partes nos hemos beneficiado de igual forma.
			</p>
			
			<p>
				Para IT Linux ha sido un periodo en el cual hemos podido mejorar la calidad de nuestros servicios prestando directa atención a como nuestros trabajos impactan directamente en el negocio de nuestros clientes y respondiendo con mejoras a las recomendaciones que Forus nos ha hecho.
			</p>
			
			<p>
				Forus por su parte ha tenido la libertad de dirigir sus energías en un 100% en hacer crecer su empresa y lograr una mayor cuota de mercado. Esta libertad se logra al tener la tranquilidad de que cuenta con socios que están disponibles para ayudar todos los días del año las 24 horas del día.
			</p>
			
			<%= render "index/projects/contact_us"%>

		</div>
	</div>
</div>