<div>
	<div class="portfolio-item img-thumbnail">
		<a class="thumb-info lightbox" href="#popupProject2" data-plugin-options='{"type":"inline", preloader: false}'>
			<img alt="" class="img-responsive" src="/img/projects/project-2.png">
			<span class="thumb-info-title">
				<span class="thumb-info-inner">Puntos de Venta con SuSE</span>
				<span class="thumb-info-type">Farmacias Cruz Verde</span>
			</span>
			<span class="thumb-info-action">
				<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
			</span>
		</a>
	</div>
</div>

<div id="popupProject2" class="popup-inline-content">
	<h2>Renovación Nacional de Plataforma de Puntos de Venta</h2>

	<div class="row">
		<div class="col-md-6">

			<img class="img-thumbnail img-responsive" alt="" src="/img/projects/project-2.png">

		</div>

		<div class="col-md-6">

			<h4>Objetivos del Proyecto</h4>
			<p>
				<strong>Farmacias Cruz Verde</strong> se nos acercó al inicio del proyecto para que los ayudaramos con la evaluación técnica de la renovación de hardware y software de su plataforma de punto de ventas. Con más de 500 locales y 4 mil puntos de ventas, esta renovación presentaba un desafío interesante.
			</p>
			<p>
				El proyecto debía incluir la adaptación del sistema de administración de puntos de venta <strong><a href="https://www.suse.com/products/linuxpointofservice/" target="_blank">SUSE Linux Enterprise Point of Services</a></strong> y también la habilitación de una plataforma de virtualización para ejecutar los diferentes sistemas de FCV.
			</p>
			
			<h4 class="push-top">Desarrollo</h4>
			<p>
				La primera etapa del proyecto consistió en realizar un laboratorio completamente funcional de los nuevos productos para comprobar su correcto funcionamiento. Esta etapa que un principio estaba pensada demorarse varios meses, fue completada en menos de un mes.
			</p>
			<p>
				Luego de que el laboratorio resultará exitoso comenzó el trabajo para desarrollar los sistemas y procesos que se utlizarían en el proceso de migración, nuestra participación estuvo orientada en la personalización de la infraestructura y desarrollo de sistemas autónomos, en específico:
			</p>
			<ul class="list icons list-unstyled">
				<li><strong>Sistema autónomo de Provisioning</strong>, Dada la gran cantidad de locales se desarrollo un sistema de instalación de servidores completamente automático y que no requería intervención humana.</li>
				<li><strong>Sistema Operativo Personalizado</strong>, Para operar con los máximos niveles de seguridad y cumplir con los requisitos de FCV desarrollamos un Sistema Operativo completamente personalizado, el cual está basado SUSE Enterprise Linux.</li>
				<li><strong>Software de Distribución</strong>, Es un sistema desarrollado por completo en IT Linux que permite transferir eficientemente grandes volúmenes de datos a cientos de sistemas de forma parelela.</li>
			</ul>

			<h4 class="push-top">Resultado</h4>
			<p>
				Gracias a los trabajos realizados durante el laboratorio Farmacias Cruz Verde pudo validar tempranamente la factibilidad del proyecto y así reducir los costos debido a desiciones tomadas con información incorrecta.
			</p>
			<p>
				Farmacias Cruz Verde también tomó la decisión de asegurar la disponibilidad de una de sus principales plataformas tecnológicas contratando nuestro <a href="/soporte-y-mantencion-de-linux/"><strong>Servicio de Soporte</strong></a>, con el cual los hemos apoyado desde la concepción del proyecto hasta el día de hoy.
			</p>
			
			<%= render "index/projects/contact_us"%>
			
		</div>
	</div>
</div>