<div class="row">
	<div class="col-md-12">
		<h3 class="push-top">Nuestra <strong>Historia</strong></h3>
	</div>
</div>

<div class="row">
	<div class="col-md-12">

		<ul class="history">
			<li data-appear-animation="fadeInUp">
				<div class="thumb">
					<img src="/img/history-2014.png" alt="" />
				</div>
				<div class="featured-box">
					<div class="box-content">
						<h4><strong>2014</strong></h4>
						<p>
							El año que comenzamos a <strong>trabajar remotamente</strong>. Siendo una empresa de Tecnología nos pareció sólo lógico explorar esta forma de trabajo. Hoy más que nunca están dadas las condiciones para trabajar libremente donde seamos más productivos y disfrutar de una mejor calidad de vida.
						</p>
					</div>
				</div>
			</li>
			<li data-appear-animation="fadeInUp">
				<div class="thumb">
					<img src="/img/history-2012.png" alt="" />
				</div>
				<div class="featured-box">
					<div class="box-content">
						<h4><strong>2012</strong></h4>
						<p>
							<strong>Cambio en el equipo</strong>. Algo pasaba en la empresa, no se sentía el mismo dinamismo ni energías de antaño, era momento de sentarse y evaluar que nos pasaba y resolverlo prontamente. Después de 6 años IT Linux sólo tendría 2 socios y una plan claro hacia el futuro y donde queremos llegar como equipo. Vamos por ello!!
						</p>
					</div>
				</div>
			</li>
			<li data-appear-animation="fadeInUp">
				<div class="thumb">
					<img src="/img/history-2008.png" alt="" />
				</div>
				<div class="featured-box">
					<div class="box-content">
						<h4><strong>2008</strong></h4>
						<p>
							<strong>Crece la familia</strong>. Han pasado 2 años desde que comenzamos esta aventura y continuamos siendo sólo un equipo de 3, los 3 fundadores. Con una base de clientes establecidas y un chanchito con monedas suficientes tomamos la desición de hacer crecer el equipo. Ya no estaremos más sólos.
						</p>
					</div>
				</div>
			</li>
			<li data-appear-animation="fadeInUp">
				<div class="thumb">
					<img src="/img/history-2006.png" alt="" />
				</div>
				<div class="featured-box">
					<div class="box-content">
						<h4><strong>2006</strong></h4>
						<p>
							<strong>Nace IT Linux</strong>. Durante un almuerzo en el Shop Dog de Pedro de Valdivia con Providencia, Daniel y Patricio bautizan la empresa y se pone en marcha el sueño de llevar el software Open Source a las empresas con un servicio profesional como no se ha visto. Después de 6 meses sin sueldo y de trabajar en el departamento de Daniel, IT Linux se estabiliza y comienza a crecer.
						</p>
					</div>
				</div>
			</li>
		</ul>

	</div>
</div>
