<div class="row">
	<div class="col-md-12">
		<h3><strong>Quienes</strong> somos</h3>
		<p>IT Linux es una verdadera empresa de soluciones: es lo que hacemos! Nuestra perfecta combinación de experiencia comercial y conocimiento técnico nos permite entregar soluciones integrales y adaptables, dando a nuestros clientes la capacidad de atender sus negocios con la estabilidad y economía que requieren.</p>
		
		<p>
			<span class="alternative-font">Innovación, Energía y Compromiso</span> son nuestros pilares para brindar soluciones de última generación y llevar a Linux a un nuevo nivel en las Empresas.
		</p>
		
	</div>
	<!-- <div class="col-md-4">
		<div class="featured-box featured-box-secundary">
			<div class="box-content">
				<h4>Backstage</h4>
				<ul class="thumbnail-gallery flickr-feed" data-plugin-options='{"qstrings": { "id": "93691989@N03" }}'></ul>
			</div>
		</div>
	</div> -->
</div>

<%= render "about-us/team"%>

<hr class="tall">