<div class="col-md-6">

	<h4 class="push-top">Nos interesa tu <strong>opinión</strong></h4>
	<p>No sólo estamos interesados en hacer negocios, nos gustan, pero nos gusta aun más resolver desafíos. Así que si tienes alguna consulta o recomendación por favor compartela con nosotros.</p>

	<hr />

	<h4><strong>Dónde está</strong> nuestra Oficina</h4>
	<p>En todos lados, <strong>¡trabajamos de forma remota!</strong> Pero también nos puedes ubicar en:</p>
	<ul class="list-unstyled">
		<li><i class="icon icon-map-marker"></i> <strong>Dirección:</strong> General Holley 2363, Of. 1301 - Providencia. Santiago, Chile.</li>
		<li><i class="icon icon-phone"></i> <strong>Teléfono:</strong> (+56-2) 2963 9270</li>
		<li><i class="icon icon-envelope"></i> <strong>Email:</strong> <a href="mailto:info@itlinux.cl">contacto@itlinux.cl</a></li>
	</ul>

	<hr />

	<h4><strong>Horario</strong> de atención</h4>
	<p>Si eres cliente con plan de soporte, nos puedes llamar al número que ya sabes en todo horario, todos los días.</p>

</div>