<div class="alert alert-success hidden" id="contactSuccess">
	<strong>Recibimos</strong> tu mensaje. Gracias!
</div>

<div class="alert alert-danger hidden" id="contactError">
	<strong>No Recibimos</strong> tu mensaje. Por favor intenta nuevamente.
</div>
