<nav class="nav-main mega-menu">
	<ul class="nav nav-pills nav-main" id="mainMenu">
		<li class="active">
			<a href="/index.html">Inicio</a>
		</li>
		<li>
			<a data-hash href="/index.html#projects">Últimos proyectos</a>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" href="#">
				Productos
				<i class="icon icon-angle-down"></i>
			</a>
			<ul class="dropdown-menu">
				<li><a href="http://www.zbox.cl" target="_blank">ZBox: Correo en la Nube</a></li>
				<li><a href="http://www.redhat.com/" target="_blank">Red Hat Entprise Linux</a></li>
				<li><a href="http://www.zimbra.com/" target="_blank">Zimbra Collaboration Suite</a></li>
				<!-- <li><a href="about-me.html">ZBox: Cloud BackUp</a></li> -->
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" href="#">
				Educación
				<i class="icon icon-angle-down"></i>
			</a>
			<ul class="dropdown-menu">
				<li><a href="/curso-administracion-zimbra/index.html" >Curso de Administración de Zimbra 8</a></li>
				<li><a href="http://itlinux.zendesk.com/hc/" target="_blank">Manuales y Tutoriales</a></li>
				<!-- <li><a href="about-us.html">Zimbra: Curso para el Administrador</a></li> -->
				<!-- <li><a href="about-me.html">DevOps y Administración en Linux</a></li> -->
			</ul>
		</li>
		<li>
			<a href="/soporte-y-mantencion-de-linux/">Soporte</a>
		</li>
		<li>
			<a href="http://blog.itlinux.cl" target="_blank">Blog</a>
		</li>
	</ul>
</nav>
