<div class="social-icons">
	<ul class="social-icons">
		<li class="facebook"><a href="https://www.facebook.com/pages/IT-Linux/73630412809" target="_blank" title="Facebook">Facebook</a></li>
		<li class="twitter"><a href="http://www.twitter.com/ITLinux" target="_blank" title="Twitter">Twitter</a></li>
		<li class="linkedin"><a href="http://www.linkedin.com/company/it-linux" target="_blank" title="Linkedin">Linkedin</a></li>
	</ul>
</div>