<nav>
	<ul class="nav nav-pills nav-top">
		<li>
			<a href="/about-us/"><i class="icon icon-angle-right"></i>Nosotros</a>
		</li>
		<li>
			<a href="/contactanos/"><i class="icon icon-angle-right"></i>Escríbenos</a>
		</li>
		<li class="phone">
			<span><i class="icon icon-phone"></i>(+56-2) 2963 9270</span>
		</li>
	</ul>
</nav>